extends ../base
block title
    | Вереск
block main
  section#main
    .main__wrapper  
      .swiper-container
        .swiper-wrapper
          .swiper-slide.swiper-slide--first
          .swiper-slide.swiper-slide--second
          .swiper-slide.swiper-slide--third
        .swiper-pagination
  section#about
    .section-wrapper.about-wrapper        
      .heading.heading--about о компании  
      p.about__text
        |  Кондитерская фабрика ООО "Вереск" является одним из крупнейших производителей 
        |  вафельной продукции в Северо-Западном регионе. 
        |  Благодаря использованию современных автоматических линий по производству вафель 
        |  и вафельных трубочек фирмы "FRANZ HAAS WAFFELMASHINEN INDUSTRIE AG" (Австрия) 
        |  и высокопроизводительного фасовочного оборудования, непрерывно совершенствуется 
        |  ассортимент и качество нашей продукции, входящей в каталог "100 лучших товаров России" за 2005г.
      img(src=require("./about_production.png") alt="Вереск").about-image
  section#contacts
    #modal-1(aria-hidden="true").micromodal-slide
      div(tabindex="-1" data-micromodal-close).modal__overlay
        div(role="dialog" aria-modal="true" aria-labelledby="modal-1-title").modal__container
          #modal-1-content.modal__content
          button(aria-label="Close modal" data-micromodal-close).modal__close
    #modal-3(aria-hidden="true").micromodal-slide
      div(tabindex="-1" data-micromodal-close).modal__overlay
        div(role="dialog" aria-modal="true" aria-labelledby="modal-1-title").modal__container
          #modal-3-content.modal__content
            .modal__company-logo
              img(src=require('./footer_logo.png') alt='Письмо выслано')         
            .modal__dialog
              .modal__dialog-title Cпасибо!
              | Ваша заявка принята!
            .modal__send-image
              img(src=require('./send_logo.png') alt='Письмо выслано')
          button(aria-label="Close modal" data-micromodal-close).modal__close
    .section-wrapper.contacts-wrapper       
      .heading.heading--contacts контакты
      img(src=require("./contacts_main.png") alt="Вереск").collage
      .collage__book
        .contacts-data
          .collage-photo
          .contacts-text
            .contacts-par
              p.contacts-par_title Наш адрес:
              p
                | 188800 г.Выборг,
                br
                | ул.Данилова д.15
            .contacts-par
              p.contacts-par_title Отдел продаж: 
              p
                | тел. (812) 740-22-79
            .contacts-par
              p.contacts-par_title Отдел закупок:
              p
                | тел. (812) 740-22-79
            .contacts-par
              p.contacts-par_title e-mail: 
              p
                | office@veresk-vafli.ru
            .contacts-par
              p.contacts-par_title Часы работы:
              p
                | Пн.-Пт.: 09.00-18.00 
          .contacts-form 
            .contacts-form__title обратная связь
            form.contacts-form__form
              input(type='text' name='name' placeholder='Имя' required)
              input(type='phone' name='phone' placeholder='Телефон' required)
              textarea(name="mess", cols="25", rows="9" placeholder='Текст')
              button(type='submit' value='Отправить' name='submit') Отправить
          .contacts-gap
      .cart-button(data-micromodal-trigger="modal-1")
        span  Схема проезда      
  section#partners
    .section-wrapper.partners-wrapper
      .title.contacts-title на карте
      #map
      .title.partners-title наши партнеры
      .partners-tiles
        a(href='http://www.ptd.spb.ru' target='blank').partners-tiles__link
          img(src=require('./ptd_link.jpg')).partners-tile__image          
          .partners-tile__desc 
            .partners-tile__pointer          
            span 
              | Официальный поставщик завода «Петербургский торговый дом»  
              br
              | Надежный партнер на рынке
        a(href='http://www.svirhleb.ru' target='blank').partners-tiles__link
          img(src=require('./svir_link.jpg')).partners-tile__image          
          .partners-tile__desc 
            .partners-tile__pointer        
            span
              | Завод хлебобулочныых изделей «Свирьхлеб»  
              br
              | Качество и вкус проверенное временем
  footer.footer
    .section-wrapper.footer-wrapper
      .footer__logo
        span ооо вереск     