extends ../base
block title
  | Вереск
block main
  section#products
    .products__wrapper
      .heading.heading--products вафли
      .product-item
        .product-item__image
          img(src=require("./product1.png") alt="Продукция вереск")
        .product-item__desc
          .product-item__desc-pointer
          .product-item__desc-title вафли весовые
          .product-item__desc-text
            | Сливочно-ванильные, крем-брюле, топленое молоко,
            | какао-шоколадные, с ароматом лесного ореха,
            | с ароматом лимона, с ароматом лесных ягод
          .product-item__desc-params
            .desc-param
              .desc-param__name Срок годности(мес)  
              .desc-param__value 6
            .desc-param 
              .desc-param__name Вес нетто(кг) 
              .desc-param__value 5.6
            .desc-param
              .desc-param__name Гофрокороб (мм)  
              .desc-param__value 345х265х200             
      .product-item
        .product-item__image
          img(src=require("./product2.png") alt="Продукция вереск")
        .product-item__desc
          .product-item__desc-pointer
          .product-item__desc-title вафли весовые
          .product-item__desc-text
            | Сливочно-ванильные, крем-брюле, топленое молоко,
            | какао-шоколадные, с ароматом лесного ореха,
            | с ароматом лимона, с ароматом лесных ягод
          .product-item__desc-params
            .desc-param
              .desc-param__name Срок годности(мес)  
              .desc-param__value 6
            .desc-param 
              .desc-param__name Вес нетто(кг) 
              .desc-param__value 5.6
            .desc-param
              .desc-param__name Гофрокороб (мм)  
              .desc-param__value 345х265х200
      .product-item
        .product-item__image
          img(src=require("./product3.png") alt="Продукция вереск")
        .product-item__desc
          .product-item__desc-pointer
          .product-item__desc-title вафли весовые
          .product-item__desc-text
            | Сливочно-ванильные, крем-брюле, топленое молоко,
            | какао-шоколадные, с ароматом лесного ореха,
            | с ароматом лимона, с ароматом лесных ягод
          .product-item__desc-params
            .desc-param
              .desc-param__name Срок годности(мес)  
              .desc-param__value 6
            .desc-param 
              .desc-param__name Вес нетто(кг) 
              .desc-param__value 5.6
            .desc-param
              .desc-param__name Гофрокороб (мм)  
              .desc-param__value 345х265х200              
      .product-item
        .product-item__image
          img(src=require("./product4.png") alt="Продукция вереск" style="height: 100%")
        .product-item__desc
          .product-item__desc-pointer
          .product-item__desc-title вафли весовые
          .product-item__desc-text
            | Сливочно-ванильные, крем-брюле, топленое молоко,
            | какао-шоколадные, с ароматом лесного ореха,
            | с ароматом лимона, с ароматом лесных ягод
          .product-item__desc-params
            .desc-param
              .desc-param__name Срок годности(мес)  
              .desc-param__value 6
            .desc-param 
              .desc-param__name Вес нетто(кг) 
              .desc-param__value 5.6
            .desc-param
              .desc-param__name Гофрокороб (мм)  
              .desc-param__value 345х265х200
      .product-item
        .product-item__image
          img(src=require("./product5.png") alt="Продукция вереск")
        .product-item__desc
          .product-item__desc-pointer
          .product-item__desc-title вафли весовые
          .product-item__desc-text
            | Сливочно-ванильные, крем-брюле, топленое молоко,
            | какао-шоколадные, с ароматом лесного ореха,
            | с ароматом лимона, с ароматом лесных ягод
          .product-item__desc-params
            .desc-param
              .desc-param__name Срок годности(мес)  
              .desc-param__value 6
            .desc-param 
              .desc-param__name Вес нетто(кг) 
              .desc-param__value 5.6
            .desc-param
              .desc-param__name Гофрокороб (мм)  
              .desc-param__value 345х265х200
      .product-item
        .product-item__image
          img(src=require("./product6.png") alt="Продукция вереск")
        .product-item__desc
          .product-item__desc-pointer
          .product-item__desc-title вафли весовые
          .product-item__desc-text
            | Сливочно-ванильные, крем-брюле, топленое молоко,
            | какао-шоколадные, с ароматом лесного ореха,
            | с ароматом лимона, с ароматом лесных ягод
          .product-item__desc-params
            .desc-param
              .desc-param__name Срок годности(мес)  
              .desc-param__value 6
            .desc-param 
              .desc-param__name Вес нетто(кг) 
              .desc-param__value 5.6
            .desc-param
              .desc-param__name Гофрокороб (мм)  
              .desc-param__value 345х265х200
      .product-item
        .product-item__image
          img(src=require("./product7.png") alt="Продукция вереск")
        .product-item__desc
          .product-item__desc-pointer
          .product-item__desc-title вафли весовые
          .product-item__desc-text
            | Сливочно-ванильные, крем-брюле, топленое молоко,
            | какао-шоколадные, с ароматом лесного ореха,
            | с ароматом лимона, с ароматом лесных ягод
          .product-item__desc-params
            .desc-param
              .desc-param__name Срок годности(мес)  
              .desc-param__value 6
            .desc-param 
              .desc-param__name Вес нетто(кг) 
              .desc-param__value 5.6
            .desc-param
              .desc-param__name Гофрокороб (мм)  
              .desc-param__value 345х265х200
      .product-item
        .product-item__image
          img(src=require("./product8.png") alt="Продукция вереск")
        .product-item__desc
          .product-item__desc-pointer
          .product-item__desc-title вафли весовые
          .product-item__desc-text
            | Сливочно-ванильные, крем-брюле, топленое молоко,
            | какао-шоколадные, с ароматом лесного ореха,
            | с ароматом лимона, с ароматом лесных ягод
          .product-item__desc-params
            .desc-param
              .desc-param__name Срок годности(мес)  
              .desc-param__value 6
            .desc-param 
              .desc-param__name Вес нетто(кг) 
              .desc-param__value 5.6
            .desc-param
              .desc-param__name Гофрокороб (мм)  
              .desc-param__value 345х265х200                                                                      
  footer.footer
    .section-wrapper.footer-wrapper
      .footer__logo
        span ооо вереск              